<h1>Division Info Page</h1>
<h2>Description: <%= @division.description()%></h2>
<h3>Employees:</h3>

<% if @employees.any?() %>
  <form action='/divisions/<%= @division.id() %>' method="post">
    <input type="hidden" name="_method" value="patch">
    <% @employees.each() do |employee| %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="employee_ids[]" value="<%= employee.id()%>"><%= employee.name() %>
      </label>
    </div>
    <% end %>
    <button type="submit">Add Employees</button>
  </form>
  <% end %>
  <ul>
    <% @division.employees().each do |employee| %>
    <li><%= employee.name()%></li>
    <% end %>
  </ul>

  <h3>Update the name of the <%=@division.description() %> division </h3>

  <form action="/divisions/<%= @division.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <label for="description">Rename the Division:</label>
    <input id="description" name="description" type="text">

    <button type="submit">Update</button>
  </form>

  <h3>Delete this Division from the company</h3>
  <form action="/divisions/<%= @division.id() %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Delete Division</button>
  </form>

  <p><a href="/hr">Return HR Portal</a></p>
