<h1>Project Info Page</h1>
<h2>Description: <%= @project.description()%></h2>
<h3>Employees:</h3>
<% if @employees.any?() %>
  <form action='/projects/<%= @project.id() %>' method="post">
    <input type="hidden" name="_method" value="patch">
    <% @employees.each() do |employee| %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="employee_ids[]" value="<%= employee.id()%>"><%= employee.name() %>
      </label>
    </div>
    <% end %>
    <button type="submit">Add employees</button>
  </form>
  <% end %>
  <ul>
    <% @project.employees().each do |employee| %>
    <li><%= employee.name()%></li>
    <% end %>
  </ul>

  <h3>Update the name of the <%=@project.description() %> project </h3>

  <form action="/projects/<%= @project.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <label for="description">Update the project</label>
    <input id="description" name="description" type="text">

    <button type="submit">Update</button>
  </form>

  <h3>Delete this project</h3>
  <form action="/projects/<%= @project.id() %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Delete Project</button>
  </form>

  <p><a href="/pm">Return to PM Portal</a></p>
